cachetools
certifi
cffi
chardet
click
cycler
Cython
dartsclone
dataclasses
Flask
google-api-core
google-auth
google-cloud-core
google-cloud-datastore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
python-dateutil
pytz
PyYAML
requests
rsa
scipy
six
sortedcontainers
SudachiDict-full==20201223.post1
SudachiPy
typing-extensions
urllib3
Werkzeug
wordcloud

scikit-learn==0.23.2
Janome==0.3.7
asari==0.0.4
