.card {
    margin: 0.25rem;
}
.blog-body {
    padding: 1.25em;
}

* {
    font-family: 'Mplus 1p';
}

.img_thumbnail_analyze {
  padding: 10px;
  background-color: rgba(255,99,71,.5); /* #FF6347 */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.img-shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.img-shadow-analyze {
    box-shadow: 0 0 5px 10px rgba(255,99,71,0.5);
}
.border_radius {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
.form_radius {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.loader {
  display: none;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: #404040;
  opacity:0.5 ;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  cursor: wait;
  z-index: 999;
}

.loading {
  margin: 200px auto;
  border: 4px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #00d172;
  border-left-color: #00d172;
  animation: spin 1s infinite ease-in;
  cursor: wait;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-positive {
    background: #EE8B98; //ボタンの背景色
}
.btn-positive:hover, .btn-positive:focus,
.btn-positive:active, .btn-positive:active:focus, .btn-positive:active:hover, .btn-positive:active.focus,
.btn-positive.active, .btn-positive.active:focus, .btn-positive.active:hover, .btn-positive.active.focus,
.open > .dropdown-toggle.btn-positive,
.open > .dropdown-toggle.btn-positive:hover,
.open > .dropdown-toggle.btn-positive:focus,
.open > .dropdown-toggle.btn-positive.focus,
.btn-positive.disabled:hover, .btn-positive[disabled]:hover, fieldset[disabled] .btn-positive:hover,
.btn-positive.disabled:focus, .btn-positive[disabled]:focus, fieldset[disabled] .btn-positive:focus,
.btn-positive.disabled.focus, .btn-positive[disabled].focus, fieldset[disabled] .btn-positive.focus {
    background: #EE8B98; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    //color: 好きな色; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

/* td { */
/*  width: 500px; */
/* } */
thead {
  display: table;
}
tbody {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
  display: block;
  table-layout:fixed;
}
span_old {
  position: absolute;
  color:white;
  top: 90%; /* 追記 */
  left: 50%; /* 追記 */
  -ms-transform: translate(-50%, -50%); /* 追記 */
  -webkit-transform: translate(-50%, -50%); /* 追記 */
  transform: translate(-50%, -50%); /* 追記 */
}

p#about {
  margin: 0 0;
  padding: 1.4em;
  background: #C6EAFE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(60deg, #ffffff, #C6EAFE, #ffffff, #C6EAFE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(190deg, #ffffff, #ffffff, #F5E6FD, #C1B8FE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content_text {
    color: rgb(100,100,100);
    font-size: 1.3em;
}
