{% extends "layout.html" %}
{% block body %}
<form action ="{{ url_for('view.word_cluster') }}" method=post>
    <div class="form-group">
        <label for="InputWord">キーワード</label>
        <input type="text" class="form-control" id="InputWord" name=keyword>
    </div>
    <div class="form-group">
        <label for="TweetNum">ツイート数</label>
        <input type="number" class="form-control" id="TweetNum" name=tweet_num max=100000>
    </div>
    <div class="form-group">
        <label for="WordNum">ワード数</label>
        <input type="number" class="form-control" id="WordNum" name=word_num max=1000>
    </div>
    <button type="submit" class="btn btn-primary">検索</button>
</form>
{% endblock %}