{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <!-- リツイートネットワークの入力フォーム -->
        <div class="col-md-3 col-12">
            <label>キーワード</label>
            <select class="form-control form_radius" style="border-radius: 10px" id="retweetKeyword"
                    name=retweetKeyword>
                {% for k in re_keyword["keyword"] %}
                <option>{{ k }}</option>
                {% endfor %}
            </select>

            <br>
            <label>開始日</label>
            <input type="text" class="form-control datepicker" style="border-radius: 10px" id="start-date-form"
                   value={{re_keyword["default_start_date"][0]}}>
            <br>
            <label>終了日</label>
            <input type="text" class="form-control datepicker" style="border-radius: 10px" id="end-date-form"
                   value={{re_keyword["limit_end_date"][0]}}>

            <br>
            <div style="text-align: center">
                <button class="btn btn-primary col-4 mb-3 ml-1 mr-1" style="border-radius: 10px"
                        name="show_network" id="show_network">実行
                </button>
                <button class="btn btn-info rounded-circle mb-3 ml-1 mr-1" name=network_help"><b>?</b></button>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div style="text-align: center" id="network_graph">
                <br><br><br>
                <svg width="300" height="300" class="img-fluid border_radius" style="background-color:#eee"></svg>
            </div>
        </div>

        <div class="col-xl-2 col-md-3 col-12">
            <div style="text-align: center">
                <label>
                    <font size="4" color="#404040">グループワード</font>
                </label>
                <br>
                <!-- デフォルトは無色 -->
                <img id="wc_img_group" src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7"
                     class="img-fluid img-shadow border_radius mb-2" width="250" height="250" border="0">
                <br>
                <label>
                    <font size="4" color="#404040">全体ワード</font>
                </label>
                <br>
                <img id="wc_img_all" src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7"
                    class="img-fluid img-shadow border_radius" width="250"
                     height="250"><br>
            </div>
        </div>
    </div>
</div>

<!-- カーソルを合わせたときに表示する情報領域-->
<div id="datatip">
    <h2></h2>
    <p></p>
</div>

<script>
var re_keyword = eval({{re_keyword|tojson}});
console.log(re_keyword);
</script>

{% endblock %}