{% extends "layout.html" %}
{% block body %}

<div style="text-align: center">
<label>
    <font size="4" color="#404040">「{{ keyword }}」と一緒にツイートされている言葉</font>
</label>
</div>

<form action="{{ url_for('view.analysis') }}" method=post>
    <div class="container">
        <!-- 関連ワードクラウドのクラスター画像表示 -->
        <div class="row">
            {% for figure in figures %}
                <div class="col-md col-12">
                    <div style="text-align: center">
                        {% if emotion_idx == loop.index0 %}
                            <img src={{figure}} class="img-fluid img-shadow-analyze border_radius" width="350" height="350"><br>
                        {% else %}
                            <img src={{figure}} class="img-fluid img-shadow border_radius" width="350" height="350"><br>
                        {% endif %}

                        <!-- 分割ボタン -->
                        <button type="submit" name="submit_button" value=split{{loop.index0}} class="btn btn-info rounded-circle mt-3 ml-1 mr-1" data-toggle="tooltip" data-placement="bottom" title="意味で分ける">
                            <i class="fa fa-pause fa"></i>
                        </button>
                        <!-- 感情分析ボタン -->
                        <button type="submit" name="submit_button" value=emoti{{loop.index0}} class="btn btn-info rounded-circle mt-3 ml-1 mr-1" data-toggle="tooltip" data-placement="bottom" title="感情分析">
                            <i class="fa fa-meh-o fa"></i>
                        </button>
                        <br><br>
                    </div>
                </div>
            {% endfor %}

            <!-- word2vecに登録されていない単語を表示（デバッグ用） -->
            {% if figure_not_dictword != 'none' %}
                <div class="col-md col-12">
                    <img src={{figure_not_dictword}} class="img-fluid" width="400" height="400">
                </div>
            {% endif %}

        </div>
        <br>

        <div class="row">
            <!-- 時系列ツイート分布 -->
            <div class="col-md col-12">
                <div style="text-align: center">
                    <label>
                        <font size="4" color="#404040">ツイート数</font>
                    </label>
                    <br>
                    <img src={{figure_time_hist}} class="img-fluid img-shadow border_radius mb-3" width="250" height="250">
                </div>
            </div>
            <br><br>
            {% if posi_tweet != 'none' %}
                <!-- 感情ワードクラウド -->
                {% if figure_emotion_word != 'none' %}
                    <div class="col-md col-12" id="emotion_word">
                        <div style="text-align: center">
                            <label>
                                <font size="4" color="#404040">感情ワード</font>
                            </label>
                            <br>
                            <img src={{figure_emotion_word}} class="img-fluid img-shadow border_radius mb-3" width="250" height="250">
                        </div>
                    </div>
                    <br><br>
                {% endif %}

                <!-- ツイート感情分析割合 -->
                <div class="col-md col-12">
                    <div style="text-align: center">
                        <label>
                            <font size="4" color="#404040">ツイート割合</font>
                        </label>
                        <br>
                        <canvas id="graph-area" class="mb-3" height="250" width="250"></canvas>
                    </div>
                </div>
                <br><br>
            {% endif %}
        </div>

        <!-- ポジ・ニュートラル・ネガツイート分類表示 -->
        {% if posi_tweet != 'none' %}
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active btn-danger" id="positive-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ポジティブ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-success" id="neutral-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ニュートラル</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-primary" id="negative-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">ネガティブ</a>
            </li>
        </ul>

        <emotion-tweets></emotion-tweets>
        {% endif %}
    </div>
</form>



<script type="text/javascript">
var emo = eval({{emotion_elem|tojson}});
console.log(emo);

// グラフの中身
var pieData = [
  {
     value: emo[2],            // 値
     color:"#75B2F7",       // 色
     highlight: "#0888F8",  // マウスが載った際の色
     label: "ネガティブ（％）"        // ラベル
  },
  {
     value: emo[1],
     color: "#9CE7B0",
     highlight: "#6CD173",
     label: "ニュートラル（％）"
  },
  {
     value: emo[0],
     color: "#EE8B98",
     highlight: "#FD5858",
     label: "ポジティブ（％）"
  }
];

// 上記のグラフを描画するための記述
window.onload = function(){
  var ctx = document.getElementById("graph-area").getContext("2d");
  window.myPie = new Chart(ctx).Pie(pieData);
};

// 感情分析したツイート
var posi_tweet_init = eval({{ posi_tweet|tojson }});
var neut_tweet_init = eval({{ neut_tweet|tojson }});
var nega_tweet_init = eval({{ nega_tweet|tojson }});
</script>

{% raw %}
<script type="text/x-template" id="emotion-tweets">
    <div class="tab-content" id="myTabContent">
        <!-- ポジティブツイート -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="positive-tab">
            <table class="table table-striped">
                <tbody>
                    <template v-for="t in tweets.positive.tweet">
                        <tr>
                            <td>{{ t }}</td>
                        </tr>
                    </template>

                    <template v-if="tweets.positive.load_continue=='true'">
                        <div style="color:blue; cursor: pointer;" v-on:click="load('positive')">
                            <center>続きを見る</center>
                        </div>
                    </template>
                </tbody>
            </table>
        </div>
        <!-- ニュートラルツイート -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="neutral-tab">
            <table class="table table-striped">
                <tbody>
                    <template v-for="t in tweets.neutral.tweet">
                        <tr>
                            <td>{{ t }}</td>
                        </tr>
                    </template>

                    <template v-if="tweets.neutral.load_continue=='true'">
                        <div style="color:blue; cursor: pointer;" v-on:click="load('neutral')">
                            <center>続きを見る</center>
                        </div>
                    </template>
                </tbody>
            </table>
        </div>
        <!-- ネガティブツイート -->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="negative-tab">
            <table class="table table-striped">
                <tbody>
                    <template v-for="t in tweets.negative.tweet">
                        <tr>
                            <td>{{ t }}</td>
                        </tr>
                    </template>

                    <template v-if="tweets.negative.load_continue=='true'">
                        <div style="color:blue; cursor: pointer;" v-on:click="load('negative')">
                            <center>続きを見る</center>
                        </div>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</script>
{% endraw %}




<!-- Vue.js script -->
<!--
<script>
var emo = eval({{emotion_elem|tojson}});
console.log(emo);

import { Doughnut } from 'vue-chartjs'

export default ({
  extends: Doughnut,
  data() {
    return {
      datas: {
        // 凡例とツールチップに表示するラベル
        labels: ['Positive', 'Neutral', 'Negative'],
        // 表示するデータ
        datasets: [
          {
            data: emo,
            backgroundColor: ['#f87979', '#aa4c8f', '#38b48b']
          }
        ]
      },
      options: {
        responsive: true
      }
    }
  },
  mounted() {
    this.renderChart(this.datas, this.options)
  }
})


//emotion_comp object
Vue.component('emotion_comp', {
    template: '#hovercomp-template',
    data:function(){
        return {
            word_fig: f,
            alert_msg:'分割前',
        }
    },
    methods: {
        split:function() {
            let formData = new FormData();
            formData.append("submit_button", "zoom0");
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/analysis',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    if (data == 'True') {
                        self.getInfo();
                    }
                },
                error: function(request, status, err) {
                    self.alert_msg = 'メッセージ送信に問題が発生';
                }
            });
        },
        getInfo:function() {
            let self = this;
            $.ajax({
                type: 'POST',
                url: '/info',
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log(data);
                    self.word_fig = data;
                },
                error: function(request, status, err) {
                    self.alert_msg = 'メッセージ送信に問題が発生';
                }
            });
        },
    },
    computed:{
        fig_size: function(){
            let self = this;
            console.log(self.word_fig.length);
            var re = 0;
            re = 600 / self.word_fig.length;
            return re;
        },
        margin_size: function(){
            let self = this;
            var m_size = 0;
            m_size = 40 / self.word_fig.length;
            console.log(m_size);
            return m_size;
        }
    }
});

// start Vue.
new Vue({
    el:'#app',
});
</script>
-->

{% endblock %}