{% extends "layout.html" %}
{% block body %}
<form action ="{{ url_for('view.zoom_cluster') }}" method=post>
    <div class="container">
        <button type="submit" name="submit_button" value="return" class="btn btn-primary">戻る</button>
        <div class="row">
            {% for b64_figure in b64_figures %}
            <div class="col">
                <img src={{b64_figure}} class="img-fluid" width="500" height="400">
                <button type="submit" name="submit_button" value=zoom{{loop.index0}} class="btn btn-primary">さらに分類</button>
                <button type="submit" name="submit_button" value=emot{{loop.index0}} class="btn btn-primary">感情分析</button>
            </div>
            {% endfor %}
            <div class="col">
                <img src={{b64_figure_not_dictword}} class="img-fluid" width="500" height="400">
            </div>
        </div>
    </div>
</form>
{% endblock %}
